@media (min-width: 992px)
  .navbar
    &-menu
      &__link:hover
        border-bottom: 1px solid $light
  .search
    &__button:hover
      background-color: $hover-button
  .user
    &__name:hover
      border-bottom: 1px solid $dark
  .breadcrumb
    &-list
      &__link:hover
        border-bottom: 1px solid $dark
  .hotel
    &-slider
      &__button
        &--next:hover
          background-image: url(../img/hotel/arrow-next-hover.svg)
        &--prev:hover
          background-image: url(../img/hotel/arrow-prev-hover.svg)
  .button:hover
    background-color: $hover-button
  .reviews
    &-slider
      &__button
        &--next:hover
          background-image: url(../img/reviews/arrow-next-hover.svg)
        &--prev:hover
          background-image: url(../img/reviews/arrow-prev-hover.svg)
  .card
    &__button:hover
      background-color: $hover-button
  .footer
    &__link:hover
      color: #ffffff
      text-decoration: underline
    &__social-icon:hover
      border: 1px solid #ffffff
      border-radius: 50%
    &__details
      &-link:hover
        color: #ffffff
        text-decoration: underline
  .bottom
    &__link:hover
      text-decoration: underline
