.packages
  padding: 40px 0
  &-title
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin-top: 0
    margin-bottom: 65px
  &-wrapper
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 30px
.haven
  display: grid
  grid-template-columns: repeat(2,1fr)
  max-height: 1030px
  background-color: $dark
  color: $light
  width: 730px
  height: 500px
  border-radius: 8px
  &-image
    grid-row: 2/6
    width: 366px
  &-stars
    grid-row: 2/3
    margin-top: 46px
    margin-left: 44px
    margin-bottom: 0
    height: 36px
  &-title
    grid-row: 2/3
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
  &-text
    grid-row: 3/4
    margin-left: 44px
    padding-right: 24px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160.6%
  &__text
    margin-bottom: 11px
  &-room
    grid-row: 4/5
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    margin-left: 44px
  &-price
    grid-row: 5/6
    margin-left: 44px
    &__old
      display: block
  &__button
    margin-left: 70px
    padding: 10px 27px
    background-color: $primary
    color: $light
    border: none
    border-radius: 4px
    cursor: pointer
  &__icon
    margin-right: 14px
.price
  &-old
    text-decoration: line-through
    margin-bottom: 5px
  &-new
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 30px
.mare
  display: grid
  background-color: $dark
  color: $light
  border-radius: 8px
  &-image
    grid-row: 1/1
  &-title
    grid-row: 2/3
    margin-left: 32px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
  &__text
    margin-bottom: 11px
    grid-row: 3/3
    margin-left: 32px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
  &-price
    margin-left: 32px
    &__old
      display: block
  &__button
    margin-left: 70px
    padding: 10px 27px
    background-color: $primary
    color: $light
    border: none
    border-radius: 4px
    cursor: pointer
  &__icon
    margin-right: 14px
.pack
  background-color: $dark
  color: $light
  border-radius: 8px
  margin-top: 30px
  width: 350px
  &-wrapper
    display: grid
    grid-gap: 30px
    grid-template-columns: repeat(3,1fr)
  &-image
    grid-row: 1/2
    margin-bottom: 30px
  &-title
    grid-row: 2/3
    margin-left: 32px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin-bottom: 23px
  &-room
    grid-row: 3/4
    margin-left: 32px
    margin-bottom: 24px
  &__text
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    margin-bottom: 11px
  &-price
    grid-row: 4/5
    margin-left: 32px
    &__old
      display: block
  &__button
    margin-left: 70px
    padding: 10px 27px
    background-color: $primary
    color: $light
    border: none
    border-radius: 4px
    margin-bottom: 30px
    cursor: pointer
  &__icon
    margin-right: 14px
